<header
  class="flex flex-row justify-between items-center px-4 py-4 bg-water-900 text-water-200 fixed top-0 z-10 w-full"
>
  <div class="flex flex-row gap-3 grow items-center">
    <img alt="muhammad insan al-amin logo" src="/assets/logo.svg" class="h-5" />
    <a href="https://insanalamin.github.io">
      <h2 class="font-logo font-semibold lowercase text-lg">Muhammad <span class="text-ground-300">Insan</span> Al-Amin</h2>
    </a>
  </div>
  <!-- {% include nav.html %} -->
  <div class="flex flex-row gap-8 items-center">
    <nav class="hidden lg:flex lg:flex-row lg:gap-8 [&_a:hover]:text-water-100">
      <!-- <a href="/ideas">Ideas</a> -->
      <!-- <a href="/life">Life</a> -->
      <!-- <a href="/research">Research</a> -->
      <a href="/tech">Tech</a>
      <a href="/portfolio">Portfolio</a>
    </nav>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </div>
</header>
