@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.btn-primary {
  --bs-btn-bg: #253c5b;
  --bs-btn-border-color: #253c5b;
  --bs-btn-hover-bg: #253c5b;
  --bs-btn-hover-border-color: #253c5b;
  --bs-btn-active-bg: #253c5b;
  --bs-btn-active-border-color: #253c5b;
  --bs-btn-disabled-bg: #253c5b;
  --bs-btn-disabled-border-color: #253c5b;
}
body {
  padding-top: 64px;
  padding-bottom: 24px;
  font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3 {
  font-family: 'K2D', sans-serif;
  font-weight: 700;
} 
h3 {
  font-size: 18px;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #253c5b;
}
a:hover {
  text-decoration: underline;
  color: #253c5b;
}
ul, li {
  margin-left: 16px;
  line-height: 32px;
}
li img {
  margin-top: 8px;
  margin-bottom: 8px;
}
.top-menu {
  z-index: 9;
  background: #cfcecaff;
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  gap: 8px;
  font-weight: 700;
  width: 100%;
  position: fixed;
  top: 0px;
}
.gap-1 {
  gap: 8px;
}
